.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.pagination-item {
  height: 40px;
  width: 40px;
  background: #e1e1e1;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;

  &.active {
    background: #407bff;
  }
}

.pagination-previous {
  transform: rotate(-180deg);
  margin-right: 25px;
  cursor: pointer;
}

.pagination-next {
  margin-left: 15px;
  cursor: pointer;
}

.page-active {
  cursor: pointer;
  color: #407bff;
}

.page-inactive {
  color: #e1e1e1;
  pointer-events: none;
}
